$white:rgba(234, 245, 255, 1);
$light-blue: rgba(20, 178, 184, 1);
$dark-blue: rgba(1, 25, 54, 1);

main{
  .desktop-view{
        z-index: 1;
        background-color: $dark-blue;
        padding-bottom: 3rem;
        padding-top: 1rem;
        border-radius: .9rem;
        .curso{
          display: flex;
          flex-direction: row;
          background-color: $dark-blue;
          padding: 2rem  1.6rem 1.4rem;
          align-items: center;
          text-align: center;
          justify-content: space-around;
          
          img{
            object-fit: cover;
            width: 8rem;
            height: inherit;
          }

          
        }
        hr{
          max-width: 46rem;
          border-color: $white;
          border-width: .1rem;
          margin: 2rem 3rem 0 3rem;
          
        }
  }
}