$dark-blue: #011936;
$gray-blue: #465362;
$blue: #446E88;
$white: #EAF5FF;
$black: #1F1D1D;
$footer-black: #272525;
$light-blue: #14B2B8;
$light-blue-hover: #24989c;
$real-white: #F5F5F5;

$font: 'Inter', 'sans-serif';

:root {
  font-size: 62.5%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: $font;
  background-color: $black;
  color: $white;

}

// WIP
header {
  background-color: $dark-blue;
  border-bottom: rgb(255, 0, 0) solid 15px;

  nav {
    margin: 0 6rem;
    display: flex;

    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 800;
      font-size: 2.6rem;
    }

  }
}

.cta {
  background-image: url(../img/CTA\ Background.png);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 2rem;
  div {
    max-width: 65.6rem;
  }

  h3 {
    margin: 2.3rem 1rem 1rem 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3.1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.63);
  }

  span {
    margin: 0 1rem;
    padding: min(1rem);
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-decoration: none;
    background-color: $light-blue;
    border-radius: 0.9rem;

    margin: 1rem auto;
    padding: 1.8rem;

  }
}

a {
  &:active {
    background-color: $light-blue-hover;
  }

  &:visited {
    color: $real-white;
    text-decoration: none;
  }

}



.cursos{
    padding: 0.5rem 2rem 0rem 2rem;
  
    h3 {
      margin: 1.5rem 0.5rem 0.5rem 1rem;
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.1rem;
    }

    p {
      margin: 0 1rem;
      padding: 1rem;
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    .navigation{
      padding: 1.5rem 0rem;
      display: flex;
      justify-content: space-evenly;
      cursor: pointer;
      img{
        width: 7.5rem;
        height: inherit;
      }
    }
    .card:nth-child(2){
      border-bottom: 3px solid $white;
      border-top: 3px solid $white;

    }
    .cursos-cards{
      border-radius: 2rem;
      padding: 1.5rem 1rem;
      background-color: $dark-blue;
      
    }
}



.metodo {
  div:first-of-type {
    max-width: 65.6rem;
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: auto;

    margin-bottom: 5rem;
  }

  h2 {
    font-weight: 700;
    margin: 2.3rem 1rem 1rem 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3.1rem;
  }

  span {
    margin: 0 1rem;
    padding: 0 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .card {
    background-color: $dark-blue;
    border: 5px solid $blue;
    max-width: 27.2rem;
    margin: auto;
    padding: min(1.5rem, 25px);

    &:nth-child(3) {
      margin: 1.5rem auto;
    }

    img {
      width: min(85px, 25rem);
    }

    h2 {
      display: inline;
    }

    p {
      font-size: 1.6rem;
    }
  }
}


footer {
  border-top: 0.15rem solid $real-white;
  background-color: $footer-black;
  display: flex;
  margin: 2.5rem 0 0 0;
  padding: 0 1.2rem;
  align-items: center;
  justify-content: space-between;

  a {
    color: $white;
    text-decoration: none;
    text-align: center;

    img {
      width: 2.5rem;
    }
  }
}