*{
  margin: 0;
  padding: 0;

}
.left{
  min-width: 50vw;
  min-height: 100vh;
  background-color: red;
}
.log-form{
  text-align: center;
  align-items: center;
  
}
.right{
  background-color: aqua;
  min-height: 100vh;
  min-width: 50vw;

}
body{
  display: flex;
}