<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="/Css/old/dashboard.css" />
    <link rel="stylesheet" href="/Css/IMPLEMENTAR/criar-aula.css" />

    <title>DashBoard</title>
  </head>
  <body>
    <div class="container">
      <nav class="mobile-nav">
        <div class="wrapper">
          <span class="material-symbols-sharp" id="menu-btn"> menu </span>
          <div class="logo-wrap">
            <div class="logo">
              <img src="/img/logo-devgate.png" alt="" />
              <h2>DevGate</h2>
            </div>
          </div>
        </div>
      </nav>

      <aside>
        <div class="top">
          <div class="logo">
            <img src="/img/logo-devgate.png" alt="" />
            <h2>DevGate</h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="<?= URLADM; ?>dashboard/index" class="">
            <span class="material-symbols-sharp"> grid_view </span>
            <h3>DashBoard</h3>
          </a>
          <a href="<?= URLADM; ?>cadastro-curso/index">
            <span class="material-symbols-sharp"> menu_book </span>
            <h3>Criar Curos</h3>
          </a>
          <a class="active" href="<?= URLADM; ?>list-cursos/index" class="">
            <span class="material-symbols-sharp"> format_list_bulleted </span>
            <h3>Listar Curso</h3>
          </a>
          <a href="<?= URLADM; ?>list-usuarios/index">
            <span class="material-symbols-sharp"> group </span>
            <h3>Listar Alunos</h3>
          </a>
          <a href="<?= URLADM; ?>edit-email-info/index">
            <span class="material-symbols-sharp"> email </span>
            <h3>Editar Email</h3>
          </a>
          <a href="Criacao-Atividades.html" class="">
            <span class="material-symbols-sharp"> grid_view </span>
            <h3>Criar Atv</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <!-- Todo conteudo que for criar coloca dentro da dessa div criar-curso, o grid vai deixar arrumado automaticamente -->
      <div class="container-adm">
        <div class="main-criar-aula">
          <div class="titulo">
            <h1>Criação de Aulas</h1>
            <p></p>
          </div>

          <div class="curso-shower">
            <img src="/img/logo-devgate.png" alt="" />
            <div class="txt-wrap">
              <p class="titulo-curso">
                Nome curso Lorem ipsum dolor sit amet c
              </p>
              <p class="subtitulo-curso">
                a dolore culpa labore ut. mo lorem*12 Curos
              </p>
              <div class="btns-aula">
                <span class="material-symbols-sharp"> edit_document </span>

                <p class="btn-criar-aula btn-aula-p">Criar Aula</p>
              </div>
            </div>
            <div class="btn-criar-aula"></div>
          </div>

          <!-- MODAL DE CRIAÇÂO DE AULA -->
          <div id="modal" class="modal">
            <div class="modal-content">
              <div class="modal-body">
                <span class="close-btn">&times;</span>
                <h2 class="titulo-form">Aula</h2>
                <form autocomplete="off">
                  <div class="inputBox" for="name">
                    <p class="txt-title">Nome da Aula</p>

                    <input
                      type="text"
                      placeholder=""
                      name="nomeAula"
                      id="name"
                      value="<?= $nomeAula ?>"
                      required="required"
                    />
                    <i></i>
                  </div>
                  <div class="text-editor">
                    <p class="txt-title">Descrição</p>
                    <p class="descricao">
                      Descrição de como sera desenvolvida as atividades. Assim
                      como sobre a dinamica das mesmas
                    </p>
                    <br />
                    <?php
                    $descricao = "";
                    if (isset($valueForm['descricao'])) {
                        $descricao = $valueForm['descricao'];
                    }
                    ?>
                    <textarea
                      placeholder="ARRUMAR O EDITOR DE TEXTO"
                      name="descricao"
                      id="editor"
                      value="<?php echo $descricao ?>"
                      required="required"
                      maxlength="512"
                    ></textarea>
                    <br />
                  </div>

                  <button type="submit" class="submit-btn">Criar Aula</button>
                </form>
              </div>
            </div>
          </div>

          <div class="aulas-wrapper">
            <div class="aula">
              <p class="titulo-curso">
                01 Titulo Aulaadssadsadsa d dasdasd asd
              </p>
              <p class="subtitulo-curso">Desc Aula</p>
              <p class="num-atv">Numero de Atividades:</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer></footer>
    <script src="/JS/dashboard.js" defer></script>
    <script src="/JS/modal-aula.js" defer></script>
  </body>
</html>
