<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <script
      src="https://kit.fontawesome.com/08626bfbba.js"
      crossorigin="anonymous"
    ></script>
    <script src="../JS/test.js" defer></script>
    
    
    <link rel="stylesheet" href="/Css/home/nav_bar.css" />
    <link rel="stylesheet" href="/Css/IMPLEMENTAR/test.css" />
    
    
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"
  />
    <title>Test Page</title>
  </head>
  <body>
    <header>
     
      <nav>
        <div class="logo-container">
          <h2 class="logo">DevGate</h2>
        </div>
        <input type="checkbox" id="check" />
        <label for="check" class="hamburger-btn">
          <i class="fas fa-bars"></i>
        </label>

        <ul class="nav-list mobile">
          <li><a href="">Home</a></li>
          <li><a href="">Html</a></li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
          <li class="login-mobile">
            <a href="register-form.html">
              <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
              Login
            </a>
          </li>
        </ul>

        <ul class="desktop-list">
          <li><a href="">Home</a></li>
          <li>
            <a href="" class="bar"></a>
            <a href="">Html</a>
          </li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
        </ul>

        <div class="login-btn">
          <a href="#" id="login-button">
            <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
          </a>
        </div>
    </nav>
    
    
    
    <!-- IMPLEMENTAR -->
    <div id="side-menu" class="side-menu ">
        <div class="side-menu-content">
            <span href="#" class="close-side-menu">&times;</span>
            <div class="img-wrap">
              <img src="../img/brambillajpeg.jpeg" alt="">
            </div>
            <h3 class="user-name">Gabriel Eduardo Brambilla</h3>
            <p class="email">Email@email.com</p>
            <div class="btn-options">

              <a href="" class="side-menu--btn">
                <span class="material-symbols-sharp " id="menu-btn"> add_circle </span>
                Btn Branco </a>
              <a href="" class="side-menu--btn">
                <span class="material-symbols-sharp " id="menu-btn"> settings </span>
                Btn Meio-Branco</a>
            </div>
          </div>
          <a href="" class="outside-menu--btn">
            <span class="material-symbols-sharp " id="menu-btn"> logout </span>
            Logout</a>
     </div>

      </nav>
    </header>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nesciunt, sit voluptatibus odit dicta ea saepe. Quisquam voluptatibus consequatur voluptate hic officia dolore, culpa ad, soluta magnam quia placeat consectetur.
    Expedita quia nam quos porro ipsum. Molestias, officiis magni corporis placeat beatae ad aut optio laborum aliquid odio rerum, accusamus explicabo quibusdam ipsum. Eius dolorum animi repellendus accusantium non consectetur?
    Nihil mollitia magni ipsum unde numquam vel nesciunt impedit, itaque incidunt minus ratione nemo facilis obcaecati nisi libero dignissimos, corrupti earum optio non architecto sequi eaque officia facere? Nostrum, amet.
    Quos, labore enim. Quos sit amet nihil consequuntur provident dicta, enim alias totam est neque exercitationem. Delectus doloribus voluptatum vitae esse soluta, sapiente, expedita optio perferendis, hic praesentium numquam quidem.
    Neque ipsam, sit ex perferendis iste ea ut dolorum optio ab voluptatem dolores odio delectus minima sunt facilis! Et provident quam vitae fugiat id tenetur dicta itaque eos in numquam.
    Facere ipsa ex illo eligendi nobis consectetur magni nam dolor sit molestias, animi praesentium modi doloribus eum id! Ullam error suscipit deleniti eligendi omnis similique nisi iure? Sequi, hic quibusdam.
    Sit ducimus id voluptate laboriosam aut aperiam porro dolor facilis reiciendis aliquid? Quis reprehenderit dicta mollitia laborum tenetur vero nulla unde illo, quaerat dignissimos sit laudantium aliquam dolorem animi rerum.
    Eos pariatur ab minima fugit? Adipisci itaque soluta eligendi dolores optio perferendis reiciendis dolorem? Dolores laudantium consectetur quia, repudiandae id dolor sit pariatur iure enim temporibus necessitatibus iste minus quaerat?
    Nihil aut cum et impedit sint doloremque assumenda, excepturi, quae id quos autem enim sed possimus nesciunt, exercitationem eligendi tempora maiores. Numquam saepe minima provident ea inventore sint ipsa at?
    Maiores atque dicta ad, magni vitae sunt ullam sit, possimus veritatis id sapiente voluptatum neque expedita molestiae ipsum quas. Obcaecati, porro enim quibusdam voluptatem exercitationem maiores quis praesentium quasi ipsum?
    Distinctio dolore, in, ad ex magnam error, ut nobis iusto autem voluptate facilis! Nam vel deleniti numquam consectetur doloribus esse explicabo corrupti, earum consequatur possimus rem sed eveniet nemo in!
    Neque laborum facere eos ab. Praesentium, aliquam, esse magni dolorum doloribus natus nobis repudiandae est quis eius excepturi ex exercitationem earum sapiente minima, beatae necessitatibus. Itaque in architecto repellendus ex!
    Eligendi, exercitationem voluptatum! Necessitatibus suscipit laudantium accusamus animi aliquam illo similique vel tempora consequuntur fugiat reiciendis inventore iusto autem quod magnam dolor nulla quia voluptatem, molestiae modi. Facere, qui debitis.
    Sit similique itaque soluta tenetur quia sed sunt blanditiis enim animi velit ducimus dolorum quod quos nemo repellat facere impedit totam id, fugit corporis eveniet provident sequi a. Animi, sit!
    Optio eos iste autem delectus enim repellendus dolorum veritatis eligendi perspiciatis vero debitis expedita vel nihil minus ipsam non aliquam porro dicta ea ad ratione, itaque sunt! Id, eum cupiditate?
    Harum labore beatae ut in quis exercitationem culpa quos minima vero deleniti. Iusto doloribus deleniti ab delectus corporis rem quae, veniam, autem repellendus consectetur tempora, distinctio perferendis rerum aspernatur consequatur.
    Quis facere, voluptatibus cumque voluptatum soluta voluptate pariatur explicabo eum eaque? Optio architecto nostrum cumque facere. Perferendis sit molestiae doloremque assumenda numquam totam commodi facere. Mollitia beatae laudantium dolorem nesciunt?
    Incidunt ut fugit, modi provident minima quis cumque quas optio suscipit officiis est neque, laudantium dignissimos. Amet blanditiis consectetur numquam vitae voluptatem, ab iusto labore magnam, dolorem quam quidem tenetur!
    Ex earum vero, officia voluptatem consectetur dolore temporibus ducimus maxime. Beatae hic praesentium reiciendis at nesciunt, voluptatum cumque voluptatibus. Sed possimus quod ea voluptas quisquam assumenda eius officiis eveniet quasi!
    Quaerat assumenda facilis minus maxime odit accusamus aliquam soluta, eaque voluptas, ipsa quam earum rem doloribus eum ullam reiciendis consequatur officiis rerum sit porro fugit suscipit nihil ipsam. Soluta, repellat?
    Perspiciatis aspernatur rerum laudantium. Eveniet sunt est blanditiis aliquid deserunt nulla? Id praesentium quibusdam, obcaecati aspernatur, debitis recusandae soluta saepe doloribus impedit eos blanditiis hic fugit iure, totam minima officiis!
    Sit quas quos saepe libero voluptas neque cum, dolorem natus inventore facilis a minus odit, eum, fugit eaque totam possimus impedit. Tenetur nihil veniam saepe molestiae dolorem cupiditate voluptatum quam.
    Placeat, debitis assumenda impedit dolore veritatis voluptatum rem labore animi tempora, ab explicabo in distinctio voluptatem error repudiandae? Quam cumque, voluptatem dignissimos veniam facere exercitationem repellat laboriosam eius nihil tempora.
    Dicta cum quisquam dolores cumque eveniet dignissimos. Sequi assumenda, odio voluptatum omnis eaque iste maxime! Consequatur ratione tempora atque odit maxime repudiandae illum culpa facilis. Nesciunt sint eaque minima ullam.
    Modi saepe delectus sit explicabo. Doloribus pariatur rem quam quae dignissimos soluta dolor, sunt, odio corrupti nam consequatur ex sint sit architecto, quaerat magni porro? Iusto quas corporis rem perferendis.
    Soluta voluptatum odio dolore culpa a esse reiciendis ab temporibus doloribus non? Labore aspernatur autem iusto dignissimos excepturi perspiciatis officiis tempore exercitationem sequi voluptates nostrum sint debitis, magnam, atque possimus.
    Voluptatem molestias, assumenda rerum expedita impedit nesciunt ipsum non quam ducimus, cum culpa nostrum explicabo dolorem officia sed dolor dolorum fugit inventore autem similique officiis? Consequatur tenetur nam distinctio culpa!
    Molestias maxime quisquam quos cupiditate officiis distinctio quibusdam suscipit delectus tenetur, dolor doloribus debitis culpa rem repellendus commodi? Non facere saepe facilis quas quidem voluptas numquam impedit natus mollitia dignissimos.
    Similique quaerat neque id quae nostrum, nobis aperiam rerum maiores voluptatibus, eos corrupti pariatur quia reprehenderit voluptatum corporis deserunt! Blanditiis optio numquam quae ipsum perferendis asperiores nesciunt excepturi ipsa aliquam?
    Laboriosam maxime tempore, sapiente rem libero magni odit ipsam cum unde culpa in corrupti at! Voluptatibus, placeat minus? Quos delectus ad impedit sunt, non voluptatibus. Et reprehenderit necessitatibus praesentium ducimus.
    Placeat quis rerum ipsum iure? Laudantium nulla aperiam consequatur, error dignissimos delectus illo? Nesciunt officiis doloremque enim praesentium alias quas sapiente cupiditate tempora quod ipsam dolorum, fugiat animi repudiandae laudantium!
    Illo quae, repudiandae quasi possimus amet voluptates magnam aliquid reprehenderit. Sunt deserunt tempora ad repudiandae repellendus aut incidunt, id consectetur expedita, praesentium accusamus accusantium illo consequatur quaerat dignissimos, pariatur esse.
    Nisi inventore dolorum aspernatur aut dolor, sint maxime cumque distinctio ut! Sapiente, id magni vel autem nesciunt suscipit architecto dolore? Iusto ipsa quisquam quibusdam debitis quod, ratione aspernatur tenetur corporis.
    Quidem neque ipsum assumenda dolorum magnam, suscipit accusantium sunt pariatur voluptatibus dignissimos explicabo sit ad harum, inventore magni deserunt, voluptate eligendi consequatur vitae adipisci. Iste incidunt assumenda delectus quas similique!
    Quia architecto dolorem enim, autem vitae, ipsam quos ex harum atque fuga, quae eius et officia excepturi. Dolorum, molestias totam reprehenderit sequi cupiditate odit. Autem incidunt non at consequuntur sapiente?
    Autem optio error eligendi nesciunt non? Sint numquam vel ipsa quasi maxime. Quidem, quae qui at ratione sint dignissimos earum odit modi voluptatibus vel? Similique beatae quos sequi ab tempora.
    Veritatis cumque facere consequatur quibusdam maiores eveniet asperiores voluptatum. Placeat dolorum excepturi consequatur quod provident assumenda earum in commodi cupiditate impedit. Ratione esse odit, veniam eos provident soluta distinctio quidem.
    Deserunt a temporibus id quas, ullam doloribus sapiente sint exercitationem minus odit minima quisquam nostrum, laboriosam, tempora harum doloremque. Ab voluptatum praesentium ullam necessitatibus qui explicabo nam reprehenderit laborum ex?
    Odit provident sapiente necessitatibus dolorem facere ipsa voluptatibus aut eos debitis dolor, quis blanditiis quae ullam quasi dolore porro rem sint culpa rerum! Odio minima assumenda explicabo porro consectetur corrupti.
    Minus, repudiandae iure, voluptas atque in tempore, eveniet nihil consectetur asperiores dolorem fuga suscipit assumenda deleniti tenetur velit reprehenderit obcaecati sit nemo maiores ipsam placeat. Similique temporibus ipsam laboriosam repellendus.
    Aperiam, eius magnam! Illum odio reiciendis blanditiis ratione accusamus enim temporibus tempore aut nihil accusantium doloribus asperiores, voluptas fugit, minus optio porro voluptates reprehenderit nostrum cumque ipsum libero neque quis!
    Excepturi harum illo illum voluptatem rerum maiores tempore ab consectetur esse minima ipsum nihil suscipit, dolorum nesciunt autem quia? Adipisci sit culpa consequuntur consequatur omnis rem magni corporis voluptate deserunt?
    Eveniet reiciendis quae, porro aliquid similique voluptate fuga rerum natus facilis mollitia incidunt maiores in, dolores, ratione placeat molestiae voluptatem dolorum! Error tenetur non voluptatum sit eaque. Corporis, ipsum expedita.
    Suscipit, pariatur libero modi soluta dolorem non sint porro ea natus corrupti dolore est ad repudiandae nesciunt. Accusantium, culpa laudantium error natus debitis officiis nisi voluptates ipsa voluptas numquam architecto!
    Ipsa corrupti, et dolor ex quidem cumque? Nostrum error harum facere mollitia deserunt sunt amet vero. Quasi, temporibus, facere non cum sapiente facilis nemo consequuntur debitis minus optio et dolores.
    Rerum molestias in assumenda quis quos nobis possimus, enim at et optio cupiditate voluptas laborum hic ullam illum libero sequi corporis beatae fuga? Voluptatem quaerat aperiam, cupiditate recusandae nulla sint.
    Quas minus doloremque, quod facere sit iure vero cupiditate incidunt quasi quia soluta. Iusto similique libero accusamus voluptas, recusandae eaque excepturi possimus cumque harum vero laudantium unde assumenda laboriosam doloremque!
    Libero odit dignissimos iusto quod similique laborum adipisci perferendis culpa nobis aspernatur corporis ex quam aliquam iure repellat at possimus, deleniti voluptate consectetur fuga aut nam assumenda consequuntur. Magni, cumque.
    Dolorum, amet enim eaque ex molestiae, fugiat corporis maxime recusandae quaerat hic neque minus nihil a officiis deleniti quae? Eos perspiciatis non enim corrupti iusto illo, exercitationem quisquam tempore quia.
    Eius quia enim quod reprehenderit quo. Illo dolores maiores voluptate odio dolorum. Dolor, rerum dignissimos iure at velit nemo consectetur repellendus enim reiciendis dolores ullam autem animi sunt maiores modi!</p>
  </body>
</html>
