<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="/Css/old/dashboard.css" />

    <title>DashBoard</title>
  </head>
  <body>
    <div class="container">
      <nav class="mobile-nav">
        <div class="wrapper">
          <span class="material-symbols-sharp " id="menu-btn"> menu </span>
          <div class="logo-wrap">
            <div class="logo">
              <img src="/img/logo-devgate.png" alt="" />
              <h2>DevGate</h2>
            </div>
          </div>
        </div>
      </nav>

      <aside diplay:block>
        <div class="top">
          <div class="logo">
            <img src="/img/logo-devgate.png" alt="" />
            <h2>DevGate</h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="<?= URLADM; ?>dashboard/index" class="">
            <span class="material-symbols-sharp"> grid_view </span>
            <h3>DashBoard</h3>
          </a>
          <a href="<?= URLADM; ?>cadastro-curso/index">
            <span class="material-symbols-sharp"> menu_book </span>
            <h3>Criar Curos</h3>
          </a>
          <a class="active" href="<?= URLADM; ?>list-cursos/index" class="">
            <span class="material-symbols-sharp"> format_list_bulleted </span>
            <h3>Listar Curso</h3>
          </a>
          <a href="<?= URLADM; ?>list-usuarios/index">
            <span class="material-symbols-sharp"> group </span>
            <h3>Listar Alunos</h3>
          </a>
          <a href="<?= URLADM; ?>edit-email-info/index">
            <span class="material-symbols-sharp"> email </span>
            <h3>Editar Email</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <!-- Todo conteudo que for criar coloca dentro da dessa div criar-curso, o grid vai deixar arrumado automaticamente -->
      <div class="criar-curso">
        <img src="/img/logo-devgate-bg-preto.png" alt="">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aperiam neque necessitatibus sed culpa porro quis. Ad doloribus dolores aliquam tempora nobis, placeat, repellendus eius vitae odit, sunt nulla dolore. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita laboriosam earum tenetur eos nisi. Dicta eum doloribus quasi debitis, consectetur, fugiat quam, laboriosam amet laudantium animi esse corporis laborum quae.
                  Quidem tempore totam ducimus repellat, laborum doloremque consequuntur nihil sit optio provident ipsum voluptate quisquam veritatis eveniet dolore. Aliquid ullam non pariatur, error iusto sed perferendis mollitia nulla assumenda inventore!
                  Mollitia officia ea molestiae omnis beatae inventore perspiciatis cum eveniet tempore, architecto ullam velit ex nulla blanditiis quas voluptas quisquam odio, non deleniti. Tempora nam autem minus, odio et voluptas.
                  Ut ab possimus illo esse tempore, deleniti cumque aspernatur sunt, laborum corporis quasi modi ea libero eligendi praesentium, et minus perspiciatis aut nobis impedit quia autem? Debitis veritatis repellendus aspernatur.
                  Natus eligendi in laborum vitae quia error earum illum. Voluptates reprehenderit iste, ipsum eaque quae qui asperiores explicabo facilis eum est iure, aliquam error recusandae vitae inventore repudiandae nisi voluptatibus.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque doloribus est atque qui ab? Provident at quidem, sunt rerum aut ducimus vitae facilis neque. Aperiam expedita tempora ut temporibus.
                  Placeat et voluptatum unde omnis eum nobis nam, corporis fugiat. Facere fugiat ex omnis ipsum vero sunt enim corrupti cum voluptatum iusto a nobis illum, tempora molestias eum necessitatibus molestiae.
                  Fugiat id voluptatum aspernatur corporis soluta quisquam voluptate consequuntur, aliquam veniam! Ullam nulla quos, aperiam deleniti, minus, omnis esse dignissimos voluptatem blanditiis ut facilis harum sed totam a culpa praesentium?
                  Quam doloribus, velit tempore impedit vero odit mollitia similique quae. Aspernatur est harum ut libero repellat repellendus assumenda cum eius rem. Earum officiis odit nam cum rem et commodi sit.
                  Exercitationem veniam sapiente impedit tempora qui. Quam debitis sapiente iure, quis ipsa at autem ab officiis reiciendis ratione expedita non totam vitae, praesentium quod culpa rerum sunt. Architecto, debitis nostrum.
                  Nihil nobis, cum voluptatum aliquid quis ipsa praesentium aperiam. Atque porro inventore repudiandae adipisci illo excepturi tempora nobis unde dolores recusandae. Distinctio nihil consequatur obcaecati necessitatibus cumque fugiat aperiam. Mollitia!
                  Esse sapiente voluptatem, quia, ducimus nemo, odio ut assumenda sit ratione ea qui! Eaque aliquid, accusantium sequi beatae sit totam, voluptates error, consequatur dolorem porro ipsam praesentium maxime at obcaecati?
                  Magnam sint quis aperiam ea libero corporis, praesentium cupiditate perspiciatis facilis quam veniam fuga, doloribus dolore magni, id ullam sit tempora exercitationem quod quasi quidem recusandae! Veniam provident ea eveniet.
                  Labore ab mollitia hic debitis velit quidem nobis provident neque omnis numquam illo quia in sapiente, amet, cupiditate repellendus totam. Quis deleniti fuga illo at quidem tenetur eligendi, eaque possimus.
                  Sunt nisi aliquam adipisci modi quis ut autem explicabo atque alias a assumenda voluptates, unde blanditiis nostrum animi incidunt ipsum exercitationem consectetur, soluta odit libero facilis recusandae! Vel, ducimus officiis.
                  Voluptatum quisquam nostrum, sint repudiandae totam, perspiciatis consectetur distinctio dolores neque, facere laboriosam recusandae iure eveniet nesciunt atque? Aperiam, repellendus libero excepturi ad distinctio vitae itaque commodi ullam natus qui.
                  Sapiente explicabo veritatis iusto dolore eaque provident sequi iure, veniam earum, repellendus nam, fugit tempore dolorum ipsa corrupti recusandae laudantium unde? Illum id atque cumque qui rem dolore numquam natus!
                  Nemo, numquam! Nisi, facilis. Quidem consequatur rerum molestiae alias iste, illo corrupti architecto, numquam exercitationem officia impedit possimus dolor nesciunt nisi perspiciatis quae. Consectetur esse explicabo ipsa error quia vel.
                  Perspiciatis quidem magnam sequi ea id non culpa odit distinctio magni molestiae, totam, sapiente quod. Natus non dicta maxime quisquam. Est deserunt, quisquam accusantium veritatis soluta adipisci dolores odio ad.
                  Ullam quia itaque quod enim mollitia tempora ab a maiores doloremque, dolores et unde! Nobis officia repellendus accusamus ex, voluptatum nisi, facilis quos at eum consectetur totam commodi, maxime consequatur.
                  Repudiandae quisquam consequuntur quod numquam pariatur, exercitationem quae iusto mollitia. Accusamus fugit laudantium deleniti consectetur nesciunt dignissimos aperiam repudiandae nobis, quos consequatur labore dolorum molestiae, error quis obcaecati. Ipsum, in.
                  Et consectetur ducimus molestiae, ut alias, ipsa explicabo tempore similique sequi quaerat non blanditiis voluptate minus tempora fugit consequuntur id magnam quia, culpa illo necessitatibus repellendus! Voluptatem corporis unde ut!
                  Ut eligendi vero cupiditate, harum alias quidem nobis optio consequuntur? Fugit, dicta repudiandae numquam nesciunt vel quo minima quibusdam reprehenderit suscipit quas? Dolorum quis dolorem officia ullam, eveniet dolores laborum.
                  Ab repellendus ipsum hic vitae nam perspiciatis sapiente saepe porro doloribus odit, magni laudantium dolorem eos exercitationem autem voluptatum veritatis! Voluptas excepturi eligendi quibusdam molestias minus ratione debitis. Neque, harum!
                  Possimus, odit quam. Molestias alias dicta aperiam officia minus culpa vel quod consequuntur debitis, distinctio architecto labore explicabo rem nihil dolores, illum quibusdam dolore iste iusto, fugit tempore? Quis, doloribus.
                  Quis impedit aspernatur rem deserunt veniam porro voluptatibus libero amet dicta reprehenderit, similique alias tempore excepturi odit mollitia consequatur. Modi numquam fugiat incidunt hic unde voluptate corporis ad accusantium eligendi!
                  Corporis iure, odio eum excepturi doloribus tempora quaerat, porro ducimus eveniet dolor a necessitatibus minima optio molestias debitis dignissimos. Qui praesentium inventore laudantium molestias beatae deserunt amet quas, labore eveniet!
                  Explicabo quo beatae rerum, nemo esse, laboriosam incidunt at expedita voluptas quos nisi minus reprehenderit excepturi dicta? Consectetur voluptas facilis, quidem perspiciatis voluptatum nesciunt soluta laboriosam commodi, necessitatibus, laudantium dicta?
                  Doloribus, necessitatibus molestiae aliquid reprehenderit vitae enim qui earum laudantium repellat optio quibusdam exercitationem labore nulla tempora quidem magnam perspiciatis soluta aut esse eaque facilis! Aliquam optio laboriosam error similique.
                  Enim modi sint quia quis illo a fuga odit quasi officiis mollitia ad voluptatem ipsum, iste porro exercitationem, praesentium possimus, at molestiae accusamus optio fugit? Officia tenetur dolor velit fugit.
                  Dolor corporis, quos veniam rem itaque assumenda adipisci facere dolorum voluptatibus culpa alias incidunt obcaecati amet! Officia fugiat sint cupiditate earum, asperiores nesciunt aliquid dolorum, natus eveniet quasi vel. Earum.
                  Expedita deleniti unde numquam quis omnis quae odit ex, illum molestiae consequatur nulla, atque rem explicabo repellendus optio accusantium reiciendis veritatis est quibusdam. Modi necessitatibus velit molestiae tenetur sit beatae.
                  Quaerat eum earum sunt atque incidunt quas laboriosam explicabo, expedita consequuntur doloremque odit facere obcaecati officia molestiae voluptates quam, hic quibusdam. In delectus quo non voluptas nostrum earum corporis qui.
                  Consectetur amet sit ipsum quasi qui beatae, omnis iste laboriosam ea voluptatibus, quaerat autem necessitatibus modi maiores in sint aliquam similique incidunt nesciunt? Saepe voluptatum voluptates, voluptatem sunt ipsa soluta.
                  Sapiente, quasi. Cumque corrupti beatae modi, eum harum nisi, esse eaque, dignissimos veniam necessitatibus fugiat placeat voluptates? Blanditiis, doloremque nulla. Quis eius fugiat a officia. Asperiores nam distinctio impedit exercitationem?
                  Dolorum illo rerum assumenda deserunt dolorem ullam aliquid obcaecati ipsum, molestias molestiae tenetur. Nisi, consequatur est, vitae ex voluptas sunt voluptates sequi eos, ducimus nemo accusantium mollitia nobis tempora officiis.
                  Amet deserunt praesentium libero beatae cum ipsa consequatur, facere dolorem, necessitatibus dicta reiciendis. Nesciunt vero a dolorum, at deleniti, veniam sit aperiam recusandae non consectetur vitae ad quaerat corporis ipsum.
                  A, exercitationem. Laborum a blanditiis laboriosam voluptas dolorem animi odit tempora quas nam enim cupiditate placeat distinctio, saepe ab eligendi odio impedit ea eos pariatur repellendus officiis? Nisi, voluptatem asperiores.
                  Vitae, aspernatur! Explicabo soluta eius iure suscipit veritatis, libero ullam in? Natus quasi eveniet fuga soluta, vero repudiandae reprehenderit cupiditate iusto asperiores laudantium voluptatum molestias optio? Voluptatibus voluptates vitae laborum?
                  Ratione, aliquid! Animi obcaecati natus iusto deserunt dicta officia tenetur vero, perspiciatis corrupti vitae ducimus, architecto ipsum molestias! Dolor, totam. Beatae voluptate perferendis veniam quisquam ipsum ut sint dignissimos nobis.
                  Quibusdam dignissimos ea eos corporis vitae repellat suscipit ut rerum excepturi ipsam omnis animi, vero, incidunt quas id minus fugit officiis, provident hic earum modi? Inventore voluptates voluptatem delectus fugiat.
                  Soluta maiores tempore tempora debitis saepe vel laboriosam. Nemo quo blanditiis velit error qui sequi repellat nam illum corporis, explicabo exercitationem, autem, totam quod quas quis accusantium! Cum, nisi ipsum!
                  Itaque tenetur sequi voluptatibus rerum iste? Facere sequi dolorum, tenetur aliquid neque ad dignissimos quibusdam laboriosam. Sit ullam nulla libero, eum nam fugit dolores ducimus, dicta quod, qui quibusdam illo!
                  Ut consequuntur quam, ex excepturi, eveniet autem aliquid pariatur vitae doloribus aspernatur, enim aliquam! Nam quasi corrupti dolore delectus sed fugit non nulla consequuntur, fuga rerum totam dignissimos ducimus et.
                  Accusamus corrupti blanditiis fugiat explicabo dicta vero. Pariatur ipsam quis dolorem voluptatibus odit dolor earum mollitia quibusdam optio quae suscipit velit, deleniti rerum consequuntur corporis commodi. Consequuntur culpa recusandae asperiores!
                  Corporis assumenda ex officia dignissimos obcaecati neque impedit voluptatum illum! Quae sapiente sunt necessitatibus! Doloribus ad, id deleniti rem laudantium officia dignissimos numquam inventore est aliquid eaque ipsa odit? Excepturi.
                  Ipsam porro dignissimos dolorum natus possimus nobis ut officia veniam, repellat, consectetur placeat ea voluptas eligendi corporis fugiat sunt sequi excepturi neque illum tempora cupiditate sed. Impedit ex doloremque tempora?
                  Libero cum modi similique natus exercitationem saepe iste ullam vero animi laborum omnis dolor perspiciatis iusto debitis eos odit rem, dicta alias laboriosam non dolorum blanditiis quis. Quae, alias quisquam.
                  Quam, quaerat architecto ea est omnis nobis nulla amet dolores reprehenderit corporis. Consequuntur, animi dolorum? Sunt pariatur corporis rerum repudiandae maxime, necessitatibus enim, sint quos quis quo accusantium, similique distinctio.
                  Tempore quae totam incidunt! Tenetur repudiandae a perferendis reprehenderit et dignissimos dolor sint placeat voluptas architecto! Labore illum inventore qui eius, repudiandae doloremque minus quidem consectetur animi. Vitae, officiis quis.
                  Quidem animi dolorem voluptas, debitis veniam, facere magnam excepturi doloribus nobis sequi sunt corporis, aliquam doloremque est. Atque eaque tempora eveniet tempore expedita, iusto, dignissimos, eos neque veritatis odio vitae.
                  Quasi, dignissimos nam iste autem iure iusto nulla error illo velit doloremque laudantium omnis in labore ratione tempore. Voluptates asperiores ullam quidem ratione, enim sapiente iste sequi provident harum deserunt!
                  Quam beatae a velit accusantium veniam corporis nemo alias commodi, voluptate, eos, sint veritatis! Ipsam eveniet non sit minus, magnam soluta deserunt molestiae, recusandae iste, necessitatibus a iusto. At, quia!
                  Assumenda labore, enim distinctio asperiores voluptates, suscipit libero nesciunt eaque ex nisi amet! Eum odio explicabo quod libero odit? Saepe, exercitationem tenetur rerum excepturi suscipit maxime cum totam eligendi ratione!
                  Quae at et cum officia magnam consectetur vel repellat rerum nobis! Ipsam explicabo, eveniet illo reiciendis sequi sint nesciunt ullam nisi et dicta tenetur repellat cum sapiente, quae ut nam?
                </p>  <hr />
        </div>
      </div>
    </div>

    <footer></footer>
    <script src="/JS/dashboard.js" defer></script>
  </body>
</html>
