<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/08626bfbba.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/Css/nav_bar.css" />
    <link rel="stylesheet" href="/Css/view-curso.css" />
    <link rel="stylesheet" href="/Css/footer.css" />

    <title>Register in Curso</title>
  </head>
  <body>
    <header>
      <span style="font-size: 20px">
        <a href="homepage-vist.html">. Home Visit | </a>
        <a href="list-curso.html">List Curso | </a>
        <a href="Nav_bar.html">Nav | </a>
        <a href="Nav_bar-loged menu .html">Nav Loged menu | </a>
        <a href="Nav_bar_ADM.html">Nav ADM</a>
      </span>
      <nav>
        <div class="logo-container">
          <h2 class="logo">DevGate</h2>
        </div>
        <input type="checkbox" id="check" />
        <label for="check" class="hamburger-btn">
          <i class="fas fa-bars"></i>
        </label>

        <ul class="nav-list mobile">
          <li><a href="">Home</a></li>
          <li><a href="">Html</a></li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
          <li class="login-mobile">
            <a href="register-form.html">
              <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
              Login
            </a>
          </li>
        </ul>

        <ul class="desktop-list">
          <li><a href="">Home</a></li>
          <li>
            <a href="" class="bar"></a>
            <a href="">Html</a>
          </li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
        </ul>

        <div class="login-btn">
          <a href="register-form.html">
            <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
          </a>
        </div>
      </nav>
    </header>

    <main>
      <div class="curso">
        <img src="/img/css.png" alt="" />
        <div class="curso-text">
          <h2>CSS básico ao avançado</h2>
          <p>
            Descrição: Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Dicta optio dolor consequatur eos nam deleniti natus quod unde modi
            aliquid porro, autem quam debitis nesciunt cupiditate iste quis
            incidunt! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolore earum vel, hic deleniti commodi assumenda ex obcaecati quod
            consequatur modi officiis praesentium illum delectus. Repudiandae
            error voluptatum excepturi iure aliquid. 
            <div class="join-btn">
              <a href="#" class="join-btn"> Ingressar no curso!</a>
            </div>
          </p>
        </div>
      </div>
    </main>

    <footer>
      <div class="texto">
        <h2>DevGate</h2>
        <p>
          DevGate 2022
          <br />
          Todos os direitos reservados
        </p>
      </div>
      <div class="contato">
        <a target="_blank" href="https://www.gmail.com">
          <img src="/img/Gmail-Logo.svg" alt="" />
        </a>
      </div>
    </footer>
  </body>
</html>
