<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/08626bfbba.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/Css/home/nav_bar.css" />
    <link rel="stylesheet" href="/Css/IMPLEMENTAR/view-atividade-grupo-menor.css" />
    <script src="../JS/modal.js" defer></script>
    <title>View Aula</title>
  </head>
  <body>
    <header>
      
      <nav>
        <div class="logo-container">
          <h2 class="logo">DevGate</h2>
        </div>
        <input type="checkbox" id="check" />
        <label for="check" class="hamburger-btn">
          <i class="fas fa-bars"></i>
        </label>

        <ul class="nav-list mobile">
          <li><a href="">Home</a></li>
          <li><a href="">Html</a></li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
          <li class="login-mobile">
            <a href="#">
              <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
              Login
            </a>
          </li>
        </ul>

        <ul class="desktop-list">
          <li><a href="">Home</a></li>
          <li>
            <a href="" class="bar"></a>
            <a href="">Html</a>
          </li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
        </ul>

        <div class="login-btn">
          <a class="modal-button">
            <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
          </a>
        </div>
        
    </header>

    <main>
      <section class="content">
        <div class="video-wrap">
          <!-- variavel php -> src -->
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/VsiihIbylgY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <div class="text-content">
          <h3 class="titulo-aula">Tistulo da aula</h3>
          <p class="desc-aula">
            Descrição da aula Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Saepe odit, temporibus possimus iusto facilis,
            atque modi, esse asperiores expedita quasi omnis fugit sequi
            distinctio quis laboriosam similique ipsum quam architecto.
          </p>
        </div>
      </section>

      <section class="class-list">
        <section class="video-playlist">
          <h3 class="title">lorem Html top 10</h3>
          <div class="videos">
            <!-- Deve rodar um loop externo de todas as aulas do curso -->
            <!-- ao entrar na aula, roda outro loop de todas as atividades dessa aula -->
            <!-- diferenciar as aulas da atividade - identação? -->

            <!-- aula  -->
            <!-- loop com todas as aulas do curso -->
            <!-- mostrar nome da aula e a checkbox -->
            <!-- deve pegar as informações da aula para mostrar no VIEW -->
            <a href="Dashboar.html">
              <div class="video" data-id="5">
                <img src="images/play.svg" alt="" />
                <p>01</p>
                <h3 class="title">Aula 1</h3>
                <p class="time">ID</p>
                <p class="time">ID</p>
                <p class="time"><input type="checkbox" /></p>
              </div>
            </a>

            <!-- atividade -->
            <!-- loop com todas as atividades da aula pai -->
            <!-- mostrar nome da atividade e a checkbox -->
            <!-- quando a aula for acessada, deve mudar o SRC do video do IFRAME -->
            <div class="video" data-id="5">
              <img style="display: none" src="images/" alt="" />
              <p></p>
              <h3 class="title">Atividade aula 1</h3>
            </div>

            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>02</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>03</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>04</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
          </div>
        </section>
      </section>
      <script src="/JS/view-aulas.js"></script>
    </main>
  </body>
</html>
