<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/08626bfbba.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/Css/home/nav_bar.css" />

    <link rel="stylesheet" href="/Css/IMPLEMENTAR/view-aula-grupo-maior.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <script src="../JS/modal.js" defer></script>
    <title>View Aula</title>
  </head>
  <body>
    <header>
      
      <nav>
        <div class="logo-container">
          <h2 class="logo">DevGate</h2>
        </div>
        <input type="checkbox" id="check" />
        <label for="check" class="hamburger-btn">
          <i class="fas fa-bars"></i>
        </label>

        <ul class="nav-list mobile">
          <li><a href="">Home</a></li>
          <li><a href="">Html</a></li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
          <li class="login-mobile">
            <a href="#">
              <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
              Login
            </a>
          </li>
        </ul>

        <ul class="desktop-list">
          <li><a href="">Home</a></li>
          <li>
            <a href="" class="bar"></a>
            <a href="">Html</a>
          </li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
        </ul>

        <div class="login-btn">
          <a class="modal-button">
            <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
          </a>
        </div>
        
    </header>

    <main>
      <section class="content">
        <!-- MUDA SO O CONTEUDO Q TA DENTRO DO VIDEO-WRAP e o css -->
        <div class="video-wrap">
          <!-- variavel php -> src -->
        
          <div class="text-content">
            <h3 class="titulo-aula">Tistulo da aula</h3>
            <p class="desc-aula">
              Descrição da aula Lorem ipsum dolor sit, amet consectetur
              adipisicing elit. Saepe odit, temporibus possimus iusto facilis,
              atque modi, esse asperiores expedita quasi omnis fugit sequi
              distinctio quis laboriosam similique ipsum quam architecto.
            </p>
            
            <div class="btn-atividade">
              <span class="material-symbols-sharp"> play_circle </span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio facere quaerat reprehenderit, ex temporibus fugit doloribus blanditiis voluptatem officiis! Iure unde sint vero repudiandae. Beatae reprehenderit molestiae perferendis inventore odit!</p>
            </div>

            <div class="btn-atividade">
              <span class="material-symbols-sharp"> picture_as_pdf </span>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio facere quaerat reprehenderit, ex temporibus fugit doloribus blanditiis voluptatem officiis! Iure unde sint vero repudiandae. Beatae reprehenderit molestiae perferendis inventore odit!</p>
            </div>
          </div>
        </div>
      </section>

      <section class="class-list">
        <section class="video-playlist">
          <h3 class="title"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt at magnam fugit soluta omnis iure tempore harum? Cumque voluptatum, architecto quibusdam deleniti quidem autem necessitatibus accusantium expedita vitae corrupti obcaecati? lorem Htmasdasdasdsl top 10</h3>
          <div class="videos">
            <!-- Deve rodar um loop externo de todas as aulas do curso -->
            <!-- ao entrar na aula, roda outro loop de todas as atividades dessa aula -->
            <!-- diferenciar as aulas da atividade - identação? -->

            <!-- aula  -->
            <!-- loop com todas as aulas do curso -->
            <!-- mostrar nome da aula e a checkbox -->
            <!-- deve pegar as informações da aula para mostrar no VIEW -->
            
            <!-- atividade -->
            <!-- loop com todas as atividades da aula pai -->
            <!-- mostrar nome da atividade e a checkbox -->
            <!-- quando a aula for acessada, deve mudar o SRC do video do IFRAME -->
            

            <div class="video  active" data-id="5">
              <img src="images/play.svg" alt="" />
              <h3 class="title">Aula top top Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quos illo non vel placeat neque consequatur quas voluptatibus amet saepe nostrum suscipit ratione molestias provident, reprehenderit nam deserunt nobis architecto?</h3>
                
              <input class="checked" type="checkbox" id="custom-checkbox">
              <label for="custom-checkbox"></label>
            </div>
            
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
