@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@import '../old/variable.scss';



.titulo {
  padding-top: 1%;
  padding-left: 3%;
  width: 100%;
  text-align: left;
}







@media screen and (max-width: 950px) {

}

@media screen and (max-width: 577px) {

}
