<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="/Css/dashboard.css" />

    <title>DashBoard</title>
  </head>
  <body>
    <div class="container">
      <nav class="mobile-nav">
        <div class="wrapper">
          <span class="material-symbols-sharp " id="menu-btn"> menu </span>
          <div class="logo-wrap">
            <div class="logo">
              <img src="/img/logo-devgate.png" alt="" />
              <h2>DevGate</h2>
            </div>
          </div>
        </div>
      </nav>

      <aside diplay:block>
        <div class="top">
          <div class="logo">
            <img src="/img/logo-devgate.png" alt="" />
            <h2>DevGate</h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="<?= URLADM; ?>dashboard/index" class="">
            <span class="material-symbols-sharp"> grid_view </span>
            <h3>DashBoard</h3>
          </a>
          <a href="<?= URLADM; ?>cadastro-curso/index">
            <span class="material-symbols-sharp"> menu_book </span>
            <h3>Criar Curos</h3>
          </a>
          <a class="active" href="<?= URLADM; ?>list-cursos/index" class="">
            <span class="material-symbols-sharp"> format_list_bulleted </span>
            <h3>Listar Curso</h3>
          </a>
          <a href="<?= URLADM; ?>list-usuarios/index">
            <span class="material-symbols-sharp"> group </span>
            <h3>Listar Alunos</h3>
          </a>
          <a href="<?= URLADM; ?>edit-email-info/index">
            <span class="material-symbols-sharp"> email </span>
            <h3>Editar Email</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <!-- Todo conteudo que for criar coloca dentro da dessa div criar-curso, o grid vai deixar arrumado automaticamente -->
      <div class="criar-curso">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aperiam neque necessitatibus sed culpa porro quis. Ad doloribus dolores aliquam tempora nobis, placeat, repellendus eius vitae odit, sunt nulla dolore. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita laboriosam earum tenetur eos nisi. Dicta eum doloribus quasi debitis, consectetur, fugiat quam, laboriosam amet laudantium animi esse corporis laborum quae.
                  Quidem tempore totam ducimus repellat, laborum doloremque consequuntur nihil sit optio provident ipsum voluptate quisquam veritatis eveniet dolore. Aliquid ullam non pariatur, error iusto sed perferendis mollitia nulla assumenda inventore!
                  Mollitia officia ea molestiae omnis beatae inventore perspiciatis cum eveniet tempore, architecto ullam velit ex nulla blanditiis quas voluptas quisquam odio, non deleniti. Tempora nam autem minus, odio et voluptas.
                  Ut ab possimus illo esse tempore, deleniti cumque aspernatur sunt, laborum corporis quasi modi ea libero eligendi praesentium, et minus perspiciatis aut nobis impedit quia autem? Debitis veritatis repellendus aspernatur.
                  Natus eligendi in laborum vitae quia error earum illum. Voluptates reprehenderit iste, ipsum eaque quae qui asperiores explicabo facilis eum est iure, aliquam error recusandae vitae inventore repudiandae nisi voluptatibus.
                </p>  <hr />
        </div>
      </div>
    </div>

    <footer></footer>
    <script src="/JS/dashboard.js"></script>
  </body>
</html>
