<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="/Css/dashboard.css" />

    <title>DashBoard</title>
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img src="/img/adm-icon.png" alt="" />
            <h2>DevGate</h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="#" class="">
            <span class="material-symbols-sharp"> grid_view </span>
            <h3>DashBoard</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> menu_book </span>
            <h3>Criar Curos</h3>
          </a>
          <a href="#" class="">
            <span class="material-symbols-sharp"> format_list_bulleted </span>
            <h3>Listar Curso</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> group </span>
            <h3>Listar Alunos</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> star </span>
            <h3>...</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <!-- Todo conteudo que for criar coloca dentro da dessa div criar-curso, o grid vai deixar arrumado automaticamente -->
      <div class="criar-curso">
        <div class="criar-curso">
          ID: 1 <br />Nome do usuário: MarcelaDosGatos <br />Email:
          marcelaTurim@Gmail.com <br /><a
            href="http://localhost/Devgate_rebuild/admin-view-usuario/index/1"
          >
            Visualizar </a
          ><br /><a
            href="http://localhost/Devgate_rebuild/admin-edit-users/index/1"
          >
            Editar </a
          ><br /><br />
          <hr />
          ID: 2 <br />Nome do usuário: DanielDeCalcinha <br />Email:
          daniel@hotmail.com <br /><a
            href="http://localhost/Devgate_rebuild/admin-view-usuario/index/2"
          >
            Visualizar </a
          ><br /><a
            href="http://localhost/Devgate_rebuild/admin-edit-users/index/2"
          >
            Editar </a
          ><br /><br />
          <hr />
          ID: 3 <br />Nome do usuário: Felipe <br />Email: felipe@gmail.com
          <br /><a
            href="http://localhost/Devgate_rebuild/admin-view-usuario/index/3"
          >
            Visualizar </a
          ><br /><a
            href="http://localhost/Devgate_rebuild/admin-edit-users/index/3"
          >
            Editar </a
          ><br /><br />
          <hr />
          ID: 4 <br />Nome do usuário: Felipe2 <br />Email: felipe@gmail.com
          <br /><a
            href="http://localhost/Devgate_rebuild/admin-view-usuario/index/4"
          >
            Visualizar </a
          ><br /><a
            href="http://localhost/Devgate_rebuild/admin-edit-users/index/4"
          >
            Editar </a
          ><br /><br />
          <hr />
          ID: 5 <br />Nome do usuário: Felipe Silva <br />Email:
          felipe@gmail.com <br /><a
            href="http://localhost/Devgate_rebuild/admin-view-usuario/index/5"
          >
            Visualizar </a
          ><br /><a
            href="http://localhost/Devgate_rebuild/admin-edit-users/index/5"
          >
            Editar </a
          ><br /><br />
          <hr />
          ID: 6 <br />Nome do usuário: Felipe23232 <br />Email: felipe@gmail.com
          <br /><a
            href="http://localhost/Devgate_rebuild/admin-view-usuario/index/6"
          >
            Visualizar </a
          ><br /><a
            href="http://localhost/Devgate_rebuild/admin-edit-users/index/6"
          >
            Editar </a
          ><br /><br />
          <hr />
          ID: 7 <br />Nome do usuário: Teste1 <br />Email: Test1@Gmail.com
          <br /><a
            href="http://localhost/Devgate_rebuild/admin-view-usuario/index/7"
          >
            Visualizar </a
          ><br /><a
            href="http://localhost/Devgate_rebuild/admin-edit-users/index/7"
          >
            Editar </a
          ><br /><br />
          <hr />
          ID: 8 <br />Nome do usuário: asasdasd <br />Email:
          sadassa@sdfsadsadd.com <br /><a
            href="http://localhost/Devgate_rebuild/admin-view-usuario/index/8"
          >
            Visualizar </a
          ><br /><a
            href="http://localhost/Devgate_rebuild/admin-edit-users/index/8"
          >
            Editar </a
          ><br /><br />
          <hr />
          ID: 9 <br />Nome do usuário: TesteUPDATEdoDaniel <br />Email:
          Felipe2@Gmail.com <br /><a
            href="http://localhost/Devgate_rebuild/admin-view-usuario/index/9"
          >
            Visualizar </a
          ><br /><a
            href="http://localhost/Devgate_rebuild/admin-edit-users/index/9"
          >
            Editar </a
          ><br /><br />
          <hr />
        </div>
      </div>
    </div>

    <footer></footer>
  </body>
</html>
