<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="/Css/dashboard.css" />

    <title>DashBoard</title>
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img src="/img/adm-icon.png" alt="" />
            <h2>DevGate</h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="#" class="">
            <span class="material-symbols-sharp"> grid_view </span>
            <h3>DashBoard</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> menu_book </span>
            <h3>Criar Curos</h3>
          </a>
          <a href="#" class="active">
            <span class="material-symbols-sharp"> format_list_bulleted </span>
            <h3>Listar Curso</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> group </span>
            <h3>Listar Alunos</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> star </span>
            <h3>...</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <!-- Todo conteudo que for criar coloca dentro da dessa div criar-curso, o grid vai deixar arrumado automaticamente -->
      <div class="criar-curso">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
          vitae animi, veniam laboriosam odio voluptate quibusdam! Repellat, ex
          mollitia. Aut repellendus, commodi dolores accusamus possimus magni!
          Totam dignissimos omnis ut!
        </p>

        <div>
          <img src="/img/css.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
