<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/08626bfbba.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/Css/nav_bar.css" />
    <title>nav_bar_bar</title>
  </head>
  <body>
    <header>
      <span style="font-size: 20px">
        <a href="homepage-vist.html">. Home Visit | </a>
        <a href="list-curso.html">List Curso | </a>
        <a href="Nav_bar.html">Nav | </a>
        <a href="Nav_bar-loged menu .html">Nav Loged menu | </a>
        <a href="Nav_bar_ADM.html">Nav ADM</a>
      </span>
      <nav>
        <div class="logo-container">
          <h2 class="logo">DevGate</h2>
        </div>
        <input type="checkbox" id="check" />
        <label for="check" class="hamburger-btn">
          <i class="fas fa-bars"></i>
        </label>

        <ul class="nav-list mobile">
          <li><a href="">Home</a></li>
          <li class="login-mobile">
            <a href="dashboard.html">
              <img src="/img/adm-icon.png" alt="" />
              ADM's
            </a>
          </li>
          <li><a href="">Sobre</a></li>
        </ul>

        <ul class="desktop-list">
          <li><a href="s"></a></li>

          <li class="right-border"><a href="#">Home</a></li>
          <li class="adms-btn">
            <label for="adms">
              <a href="#">
                <img class="adm-icon" src="/img/adm-icon.png" alt="" />
              </a>
            </label>
            <a id="adms" href="#"> ADM's </a>
          </li>

          <li><a href="">Sobre</a></li>
        </ul>

        <div class="login-btn">
          <a href="register-form.html">
            <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
          </a>
        </div>
      </nav>
    </header>
  </body>
</html>
