<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"
    />

    <link rel="stylesheet" href="/Css/nav_bar.css" />

    <title>nav_bar</title>
  </head>
  <body>
    <header>
      <nav></nav>
    </header>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus
      facilis non reiciendis, veniam in numquam deleniti at magni, ut, velit
      repellendus facere tenetur voluptatem ipsam consequuntur beatae atque nisi
      unde! Natus culpa aperiam expedita officia libero. Earum laboriosam culpa
      quia dolore dolor, dignissimos magni laborum, error consectetur mollitia
      vitae quam officia ratione voluptatibus, aut alias dolorem quisquam
      veritatis harum ducimus. Vitae voluptatum veritatis itaque minima
      reprehenderit provident veniam consequuntur inventore aspernatur dolore
      officia sed quisquam culpa perferendis voluptas aperiam repudiandae iste
      temporibus, delectus recusandae nulla officiis natus atque! Deleniti,
      quasi. Vero aspernatur laudantium autem quam ipsa harum mollitia,
      repellendus minima quos nobis quod excepturi voluptate beatae possimus
      omnis eos nam error hic. Distinctio dicta iste qui dolor corrupti. Amet,
      harum! Possimus, dignissimos ut accusantium porro dolorum vero laborum
      temporibus dolorem, natus cumque, libero error. Vero quaerat maiores
      optio, eligendi eos porro animi consequuntur dicta ad alias praesentium
      doloribus ullam fugiat. Nobis numquam hic quis voluptatem nisi eaque
      fugiat voluptates repudiandae. Dolorum, maiores eum aliquam aperiam sed
      rerum itaque culpa praesentium tempore, dolorem blanditiis, nulla id
      architecto et enim labore dolore! Corporis sequi pariatur obcaecati omnis
      eius voluptatum voluptate nihil minus dolore libero provident, voluptates
      fugiat ullam doloribus quam consectetur ut velit hic? Sit suscipit itaque,
      odio ducimus cum et voluptatibus. Saepe doloremque sit minus veritatis
      nihil impedit nam ea nisi ratione porro recusandae dicta assumenda, a,
      molestiae id corrupti atque temporibus consequatur, debitis sapiente
      delectus. Sit quod totam culpa sed? Nisi aliquid numquam totam laborum
      debitis eveniet quod rerum, doloribus in blanditiis animi nobis obcaecati
      esse dolores aspernatur ex earum libero harum nostrum fugit tenetur!
      Repellendus beatae nobis fugit illo! Quis similique magni veritatis
      consectetur optio, officia repudiandae nam sequi commodi eveniet
      distinctio, a fugit veniam atque impedit autem praesentium eligendi
      temporibus numquam omnis aspernatur voluptatibus eius obcaecati delectus.
      Nemo? Ipsum eveniet dolores, quas dignissimos cumque modi, officiis odit
      voluptas illum facere similique natus corporis commodi hic. Quidem aliquid
      qui, adipisci reiciendis non, natus modi voluptas aliquam doloribus nobis
      sunt. Adipisci veritatis dicta perspiciatis distinctio quas aliquam
      repudiandae, quae officiis modi ullam esse eius porro maxime molestiae
      soluta neque. Numquam sequi ipsum dolore sed, libero doloremque
      perferendis obcaecati possimus tempora! Quasi nesciunt incidunt dolore!
      Itaque, id molestiae? Atque voluptates ad non consectetur quia voluptatum
      accusantium magni qui perferendis tempore consequatur itaque mollitia,
      commodi fugit dolorum quas assumenda natus. Dolore, dolorem. Iusto
      obcaecati ab dicta perferendis vitae sint deleniti excepturi quisquam
      numquam minima reprehenderit, molestiae aut laboriosam, temporibus dolor
      voluptatem dolore neque, ipsam tempore est dolorum nobis. Architecto
      ducimus ullam nesciunt! Dignissimos ipsa doloremque praesentium deserunt,
      veritatis nesciunt illo ipsum. Rerum vel adipisci dolore fuga nam eligendi
      non repudiandae! Doloribus, deleniti numquam incidunt aspernatur voluptate
      obcaecati est excepturi fugit tempore recusandae! Maiores quasi ducimus
      corrupti tempora eius harum eveniet molestiae consequuntur cum, veritatis
      nesciunt reiciendis eligendi explicabo. Nam, cum deleniti libero inventore
      expedita corrupti veniam neque dolorem dignissimos! Voluptates, eos
      quisquam. Inventore quas incidunt sequi porro, doloremque, perspiciatis
      voluptatum nobis quo quidem quae sunt accusamus quibusdam placeat eum
      adipisci consequatur aliquid quos optio. Libero exercitationem neque sunt
      necessitatibus! Veritatis, numquam neque! Nostrum iusto optio voluptas eos
      ex aliquam facilis reiciendis voluptatum tenetur necessitatibus in quae
      dolores, ea unde distinctio doloremque eum totam iste. Soluta odio illo
      voluptas molestiae dolor quisquam enim. Adipisci nostrum enim non delectus
      ipsum reiciendis qui natus dicta facilis debitis. Eveniet vero,
      exercitationem aperiam molestiae esse ex laboriosam inventore ipsam
      aliquid, ratione illum voluptas, odio eligendi natus consectetur! Rerum,
      ad. Culpa ipsum asperiores quae a nam minus quibusdam sit, similique
      impedit laborum repellat? Eligendi enim perspiciatis adipisci iusto
      recusandae quod quam vel voluptatibus quis, velit ipsa eum quo.
      Exercitationem et fuga minus ullam assumenda ratione libero laudantium ab
      unde pariatur, doloribus quo quam praesentium odio magnam voluptatibus
      veritatis nulla molestiae accusantium consequatur rem natus repudiandae.
      Sed, quia voluptatibus! Eaque ab possimus et fuga doloremque porro. Neque
      hic tenetur cupiditate voluptatibus dolorum nam laudantium nisi, odit
      cumque, id alias, at fuga veniam error quaerat quas excepturi temporibus
      corporis esse! Maxime quisquam voluptatem modi tempore! Molestiae neque
      harum consequatur quasi dolores provident sed cupiditate modi ullam
      mollitia? Dicta, odio, eligendi dolor saepe corporis porro sunt autem
      nulla optio, quaerat minus. Possimus optio molestiae odio dolorem
      necessitatibus inventore, eligendi asperiores. Est sapiente rem blanditiis
      corporis, rerum odit quaerat ratione labore doloribus sint quidem
      laboriosam asperiores ut consequatur modi deserunt quibusdam nisi?
      Provident voluptatibus autem voluptatum adipisci tempora, pariatur
      corrupti vero atque consequuntur at cumque neque repudiandae sit placeat
      aperiam voluptatem. Ipsa dolor excepturi, neque sed nisi ullam aliquam
      eaque hic quisquam? Ipsam tenetur fuga alias consectetur labore dolor
      amet, saepe distinctio laborum eos facilis voluptas facere, neque nesciunt
      voluptatem suscipit magni esse soluta qui quidem fugiat impedit.
      Doloremque rem aliquam dolorem. Possimus consequatur, provident, quam ut
      iste quod et reiciendis minus laudantium illo temporibus vel delectus.
      Explicabo quisquam perspiciatis earum a cumque ullam obcaecati fuga nobis?
      Reiciendis doloribus voluptates assumenda dolorem? Nisi in eius ratione
      consequatur ab ducimus, tenetur neque ea fugit necessitatibus commodi
      minima fuga itaque iusto! Aliquid tempora autem consequuntur aperiam hic
      vero omnis, magnam, maxime ducimus facere maiores! Temporibus sequi
      laborum neque culpa corporis, quam fuga doloribus iste. Architecto saepe
      tempora ipsum molestiae veniam corporis, ab eveniet error maxime
      reiciendis nesciunt et perferendis corrupti sit nemo harum quod! Laborum
      eum voluptas ad odio facilis sit aliquid beatae autem iure ab, nesciunt
      sunt laudantium nihil ipsam asperiores consequatur voluptates expedita?
      Accusantium rerum natus cupiditate sit. Minus dolorem explicabo saepe!
      Aliquam ut dolorum adipisci minus repellat molestiae, corrupti,
      exercitationem aliquid iste facere neque animi, repudiandae impedit
      mollitia fuga. Sint sed facilis, nam delectus temporibus aspernatur illo
      reiciendis quidem nisi nihil. Dolorum animi itaque suscipit consequuntur
      aut aperiam, reprehenderit corporis culpa facilis ratione accusamus
      pariatur? Voluptatem provident sequi exercitationem repudiandae
      reiciendis, dicta doloremque consequuntur expedita aspernatur maiores
      doloribus illum, deleniti explicabo! Aspernatur fugit quia ex dolor in
      dolorum facilis eligendi! Quae minima dolorum consequuntur corrupti, nemo
      iusto facilis repellat architecto consectetur facere rem nobis maiores?
      Assumenda quia quo autem neque architecto. Sequi illo cupiditate
      blanditiis repellendus dicta molestiae velit perspiciatis cumque delectus
      aliquam hic voluptatum id, minus magnam, vitae odio quis ab, maxime porro
      ipsa sint natus. Eligendi est ducimus nulla? Repudiandae dignissimos,
      adipisci amet excepturi odio facilis debitis quam laboriosam consectetur
      sed! Vitae debitis consectetur necessitatibus quis error porro! Ex minima
      harum, neque quos optio repellat dolore earum beatae nobis. Sint quae
      aliquid nemo numquam exercitationem, iste rerum? Nobis doloremque
      consectetur id suscipit veniam nemo incidunt, ad rerum iure dignissimos
      earum animi minus non officia atque? Sapiente unde minus dignissimos.
      Laudantium nemo fuga itaque voluptatibus cum quasi sapiente, error odit
      fugit voluptatum dolorem saepe iusto veritatis accusantium molestiae,
      facere odio suscipit laborum amet dolor dolore atque recusandae maiores
      nesciunt! Culpa. Illum quibusdam, aliquid culpa eius omnis totam ullam
      distinctio quod voluptates expedita error laboriosam blanditiis, nesciunt
      unde porro rerum temporibus doloribus alias laborum illo ipsum corporis.
      Tempora necessitatibus recusandae alias? Dolor necessitatibus pariatur
      nostrum laudantium reiciendis optio ut aspernatur, asperiores nobis eius
      dolorum, minima officiis quasi in veritatis magnam maiores ab. Omnis neque
      ipsam eligendi, dolor rerum id odio iusto! Sint, quam odit quia pariatur
      magnam iure quisquam dolorem neque ratione libero ipsa sed nemo debitis
      molestias blanditiis, a recusandae mollitia doloribus ea hic deserunt
      doloremque odio non nostrum! Molestias. Placeat doloribus ducimus sed
      recusandae in temporibus nostrum, ex minus dolor rem fugiat dicta! Magnam
      fugiat alias iusto vitae delectus ipsum dignissimos assumenda atque
      nostrum consectetur, veritatis debitis non deleniti! Reprehenderit fugit
      illum at natus itaque optio quam repellat consequuntur praesentium
      accusantium, cum ut tempora saepe officiis repudiandae dolorum suscipit,
      fugiat doloremque modi dolore eius iste! Autem vero a magni! Autem,
      exercitationem nobis error inventore nesciunt eveniet cumque? Accusamus
      sunt reiciendis, architecto autem porro a neque in veniam minima dicta
      inventore harum corporis laudantium consectetur consequatur voluptates
      exercitationem pariatur culpa. Maiores ab quisquam fugiat, doloremque ipsa
      quo, amet nisi voluptatum temporibus odit animi quae accusantium similique
      aliquam quam ratione, laborum nulla ipsam dolorum eaque fugit
      necessitatibus! Dolore qui perferendis provident! Aspernatur, illo
      molestiae! Fugit, sint quis. Odio, vero odit. Repudiandae maiores
      explicabo vitae qui a quae nesciunt ipsam alias, earum praesentium quis
      harum, dolores pariatur, eaque illo commodi fugit impedit. Odit a esse
      aliquid nesciunt sequi, voluptatem assumenda ipsa sed obcaecati eos
      provident praesentium beatae. Eaque adipisci veritatis reprehenderit
      consequatur rem exercitationem, soluta vitae quam aperiam id tenetur
      doloribus pariatur. Quibusdam dolores odit maxime sed optio placeat, magni
      eos sunt repellendus amet eum quam est voluptatem porro minus obcaecati,
      itaque culpa autem impedit error nihil molestiae, temporibus
      exercitationem! Labore, exercitationem! In fugiat repellat corrupti
      quisquam obcaecati, voluptas voluptates unde praesentium? Deserunt, enim
      asperiores? Sunt nam placeat, neque corporis cumque dolore. Vero
      consectetur placeat repellendus corporis minus dolore omnis pariatur quia?
      Nihil veritatis eius exercitationem ex saepe dolorem cum, ab a neque!
      Harum corporis eius a, doloribus officiis exercitationem repudiandae
      minima nobis officia iste soluta cumque accusantium perferendis. Hic,
      magnam molestias? Voluptas quod quaerat illo dolorum rem autem itaque
      rerum, in totam minus sint. Ipsum, quasi sapiente odit, laboriosam
      quisquam voluptatibus ullam velit modi iste ea amet molestiae, asperiores
      eum obcaecati!
    </p>
    <script src="../JS/nav-bar.js"></script>
  </body>
</html>
