<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/login-form.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <title>Register DevGate</title>
  </head>
  <a href="homepage-vist.html">HomePage</a>
  <a href="login-form.html">login-form</a>
  <body>
    <main>
      <div class="texto">
        <h2>DevGate</h2>
        <p>Embarque nesse barco e aprenda a programar</p>
      </div>
      <div class="login-form">
        <form action="POST">
          <input
            type="text"
            name="nomeUsuario"
            placeholder="Nome Usuário"
            maxlength="30"
          />

          <input
            type="text"
            name="nomeCompleto"
            placeholder="Nome Completo"
            maxlength="120"
          />

          <input
            type="email"
            name="email"
            placeholder="devgate@sicdev.com"
            maxlength="60"
          />

          <input
            type="password"
            name="senha"
            placeholder="Senha"
            minlength="8"
            maxlength="30"
          />

          <input type="date" name="dtNascimento" />

          <input class="btn" type="submit" value="Registrar-se" />
        </form>
      </div>
    </main>
  </body>
</html>
