<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Css/login-form.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <title>Register DevGate</title>
  </head>
  <a href="homepage-vist.html">HomePage</a>
  <body>
    <main>
      <div class="texto">
        <h2>DevGate</h2>
        <p>Entre nesse portal e aprenda a programar</p>
      </div>
      <div class="login-form">
        <form action="POST">
          <input type="text" placeholder="LOGIN" />
          <input type="text" placeholder="SENHA" />
          <input type="text" placeholder="SENHA" />
          <input type="text" placeholder="SENHA" />
          <input type="text" placeholder="SENHA" />
          <span><a href="#">recuperar senha</a></span>
          <input class="btn" type="submit" value="Entrar" />
          <span><a href="#">Novo? Registrar-se aqui!</a></span>
        </form>
      </div>
    </main>
  </body>
</html>
