<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/08626bfbba.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../Css/home/nav_bar.css" />
    <title>Sobre</title>
  </head>
  <body>
    <header>
      <span style="font-size: 20px">
        <a href="homepage-vist.html">. Home Visit | </a>
        <a href="list-curso.html">List Curso | </a>
        <a href="Nav_bar.html">Nav | </a>
        <a href="Nav_bar-loged menu .html">Nav Loged menu | </a>
        <a href="Nav_bar_ADM.html">Nav ADM</a>
      </span>
      <nav>
        <div class="logo-container">
          <h2 class="logo">DevGate</h2>
        </div>
        <input type="checkbox" id="check" />
        <label for="check" class="hamburger-btn">
          <i class="fas fa-bars"></i>
        </label>

        <ul class="nav-list mobile">
          <li><a href="">Home</a></li>
          <li><a href="">Html</a></li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
          <li class="login-mobile">
            <a href="register-form.html">
              <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
              Login
            </a>
          </li>
        </ul>

        <ul class="desktop-list">
          <li><a href="">Home</a></li>
          <li>
            <a href="" class="bar"></a>
            <a href="">Html</a>
          </li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
        </ul>

        <div class="login-btn">
          <a href="register-form.html">
            <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
          </a>
        </div>
      </nav>
    </header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos esse sunt sit
      dolore non iusto vitae nesciunt, nostrum enim laborum. Corrupti in magni
      incidunt ex voluptatibus quidem aliquid unde rerum. Amet qui quo accusamus
      excepturi ab rem est dolores blanditiis explicabo, assumenda suscipit ipsa
      hic vitae atque nesciunt, harum officiis ut veritatis adipisci distinctio
      fuga pariatur sapiente eius tenetur. Placeat. Esse, magnam tempora rerum
      iste aliquam odio ipsa illo veritatis amet dolorum, minus deserunt culpa
      cupiditate ipsam a quas reprehenderit unde doloribus, incidunt distinctio
      soluta dolorem libero laboriosam. Porro, quae. Delectus voluptatum error
      consectetur reprehenderit aut obcaecati doloribus nam dignissimos vitae
      cumque quibusdam atque rem quos molestiae nulla sit ducimus, quas incidunt
      temporibus quasi. Eligendi nulla rerum id ad laudantium? Dolores ex,
      suscipit mollitia corrupti repellat qui iste rem tempore tenetur omnis
      libero magni obcaecati cumque hic amet illum officiis at officia
      temporibus itaque, voluptate fuga! Pariatur iure obcaecati modi? Minima
      dolores beatae enim exercitationem autem natus atque quibusdam rem
      consequatur aut voluptatibus mollitia molestias vero fuga necessitatibus
      quaerat culpa at omnis, porro optio aliquid cumque. Autem, consequuntur
      modi! Maiores. Assumenda, quia? Blanditiis, suscipit, dicta reprehenderit
      hic soluta quo laborum voluptas dolorum quos, obcaecati tempora sit autem!
      At, dignissimos id reiciendis illo pariatur et repudiandae recusandae eius
      repellat fuga labore. Odio veritatis voluptatum aperiam! Provident non
      quam cum vel suscipit dolore iusto reiciendis voluptatem illum animi?
      Cupiditate tenetur earum, alias hic necessitatibus expedita minus iusto!
      Magnam nesciunt aspernatur molestiae voluptatum. Qui sed eos dolorum
      sapiente ipsam, assumenda ex deleniti aspernatur neque animi, laborum
      laudantium rem ratione ut molestias unde doloribus cum beatae dolorem aut
      officia sequi atque commodi vitae! Delectus! Deleniti maxime debitis rerum
      sapiente aliquid, reprehenderit impedit voluptatibus! Iure perspiciatis
      tenetur quis nemo in dolorum aliquid expedita delectus voluptate corporis!
      Accusamus provident sit enim, impedit a quos distinctio sint. Distinctio
      totam dolor saepe beatae ratione nihil adipisci? Perspiciatis nesciunt
      temporibus nostrum ad quisquam. Dolorem ad quo id aspernatur tenetur,
      error quibusdam labore doloribus. Eligendi temporibus quaerat laboriosam
      id atque. Consequatur possimus est a ullam voluptatum explicabo doloremque
      distinctio perspiciatis. Voluptas cumque ea esse laborum reprehenderit at
      vel laboriosam velit, aliquid atque eum quaerat quas! Nisi temporibus
      consequuntur rem impedit. Voluptatibus nobis cupiditate aut ratione
      corrupti possimus expedita exercitationem nesciunt necessitatibus omnis
      ipsa, optio, atque a sed commodi totam quae earum molestias nihil eveniet
      quo reprehenderit. Iusto adipisci ducimus atque. Porro placeat distinctio
      excepturi ratione ex iusto quis obcaecati tempora suscipit blanditiis
      deserunt, beatae rerum sunt necessitatibus nostrum aspernatur nobis vero
      ab delectus asperiores odit veritatis! Deleniti repellat fugit magnam!
      Ducimus ratione, alias officia veritatis mollitia maiores ipsam earum
      iusto fuga! Incidunt impedit ullam, inventore exercitationem reiciendis
      natus iure voluptate suscipit asperiores provident commodi amet totam
      sequi ratione enim minus! Maxime eligendi, quos, reprehenderit esse
      aliquid ex soluta, illo quo nihil animi incidunt ab ipsam nostrum impedit
      ipsa aliquam dicta commodi voluptas quod non? Rem alias quam neque fugit
      cupiditate! Accusantium, eius quos. Obcaecati inventore excepturi
      dignissimos animi voluptas blanditiis! Numquam possimus rerum, inventore
      nemo facilis pariatur ducimus beatae dolor fugit et reiciendis autem
      fugiat accusamus sunt? Nesciunt, deleniti sit. Labore molestiae, dolor
      accusamus sapiente sit eligendi quam impedit, excepturi rem dolore fugit
      libero repellat dolorem inventore ullam sunt. Quod beatae, nobis molestias
      ducimus quos omnis odio ad! Quo, molestias. Accusamus itaque unde,
      quibusdam velit consequatur architecto quia deserunt nulla soluta numquam
      facere! Dicta illum repellendus a, iure tenetur laboriosam mollitia
      veritatis fugit nostrum earum, voluptatum, rem quae officiis corrupti.
      Itaque animi incidunt eius odio nobis, officiis impedit facere nulla
      debitis dolor laudantium iure doloremque harum quis doloribus quisquam!
      Sequi aperiam velit dolor nihil. Illum eius pariatur odit libero. Porro!
      Tenetur nihil illo aperiam dolorum quaerat corrupti. Nulla deserunt
      corporis at natus esse consectetur quae nihil asperiores delectus
      praesentium, numquam distinctio nam. Soluta dolore commodi reiciendis, quo
      officiis iste expedita. Quas, molestiae. Voluptates eveniet nobis unde
      possimus rem error numquam quo fugiat inventore, omnis iste ad aut est at,
      fugit aspernatur architecto tenetur eligendi debitis dolorum
      exercitationem ea quae neque? At ab, adipisci doloremque excepturi
      perspiciatis nemo mollitia quos quibusdam ratione neque dignissimos fugiat
      non nostrum odio enim atque vitae voluptate magnam culpa quae, explicabo
      autem praesentium aspernatur vel. Reiciendis. Ipsa repudiandae voluptatum
      maiores ex earum, eius nihil nisi ipsam cum, molestias labore. Similique
      iste incidunt, facere sequi excepturi ducimus, adipisci assumenda deleniti
      nihil fuga facilis explicabo, perspiciatis itaque porro. Harum sapiente
      sint fugiat quasi, assumenda accusantium in doloremque repellendus, iste
      iure ducimus, magnam quaerat velit hic! Architecto fugiat, cum eos
      accusantium natus corrupti, aliquam maiores rerum officiis non dolorem.
      Excepturi dolorem aliquid esse, sed distinctio dolor vitae ipsam accusamus
      eveniet neque fugiat nobis eos ab consequatur perspiciatis consequuntur
      rem! Harum accusamus fuga recusandae ad, explicabo pariatur reiciendis at
      iure? Molestiae beatae iste sunt culpa eligendi error laborum consequatur!
      Sed explicabo adipisci corrupti beatae et vero veniam, consequatur
      blanditiis dolores, quod facilis at eum nobis eius laboriosam sit dicta
      rem! Voluptatibus officiis dignissimos vitae doloribus a, dolor nam minima
      blanditiis tempore consequuntur modi repudiandae maxime quia cupiditate
      accusamus laudantium facilis iste voluptate pariatur totam quae dolore.
      Eum perspiciatis deserunt eos? Eligendi, incidunt labore, culpa cum qui
      tenetur ullam vitae soluta quam vel quia dicta, error dolorum hic maxime
      nihil alias rem sed molestias dignissimos. Aspernatur qui nobis quibusdam
      explicabo expedita? Fuga quasi accusantium aliquid nemo placeat numquam
      voluptatem assumenda quaerat nisi rerum, dolore officia itaque non?
      Aperiam consectetur tenetur, repellat ex, aspernatur consequuntur nemo
      officia voluptate alias illum numquam placeat! Molestiae a laborum, dolor
      voluptate cupiditate reiciendis reprehenderit! Asperiores minima, quidem
      delectus tempora exercitationem natus voluptatibus enim quam praesentium
      eveniet cum veniam et, officiis officia obcaecati quibusdam ipsum omnis
      fugiat. Rem, modi qui laudantium repudiandae perspiciatis repellendus
      vitae, alias veniam ipsum distinctio possimus dicta exercitationem.
      Assumenda minus possimus, incidunt numquam saepe fugiat sit
      exercitationem, quaerat officia nobis qui culpa atque. Omnis cupiditate in
      velit eius? Sint architecto laborum exercitationem officiis? Dolorem,
      commodi. Nam, accusamus animi voluptate eveniet non iure officiis. Aliquid
      dolores vero asperiores ratione ducimus libero ullam, nesciunt tempora!
      Itaque, debitis quisquam. Libero ut provident reiciendis doloremque
      veniam, labore eius adipisci ea officia, quis corrupti exercitationem
      voluptatibus aut distinctio ab harum deleniti nobis quidem. Sequi,
      necessitatibus facere! Sapiente, soluta. Provident aspernatur obcaecati
      fugiat nulla veritatis consequuntur reiciendis, sint iusto! Numquam
      reprehenderit iusto officia sequi impedit! Temporibus itaque ad quasi
      aspernatur quidem a, officiis aut perspiciatis laboriosam voluptatem ea
      doloribus. Id dignissimos quisquam fuga. Delectus aspernatur illum veniam
      animi ut obcaecati architecto porro perspiciatis excepturi, repellat
      distinctio quisquam alias iusto incidunt et nostrum. Dignissimos quisquam
      laudantium, ea amet iure totam? Dolore labore doloremque minus voluptatum
      dolores tempore sit tempora reprehenderit eligendi. Officia quaerat,
      repellendus, officiis voluptas saepe cumque consequatur laboriosam libero
      quibusdam ex perferendis eius expedita! Unde similique explicabo beatae?
      Vitae mollitia veritatis qui sint, quisquam et, exercitationem quibusdam
      magni explicabo tempora voluptatibus molestias minima voluptatum natus
      repudiandae totam voluptate maxime. Veniam, suscipit officia cum neque
      quisquam quis soluta doloribus. Beatae, at. Dolor fugiat voluptates culpa,
      earum repellat in, esse deserunt numquam fugit eos amet ea animi
      cupiditate ut nesciunt. Aut vero voluptas porro, error repudiandae
      nesciunt sed magnam excepturi. Eveniet et non odio quaerat inventore
      tempore veniam, suscipit provident natus sit, tempora animi in est libero
      ea quas vel facilis similique officia amet consequatur doloribus
      voluptate! Quisquam, facilis voluptatem. Officiis, ratione voluptatem
      dicta, veritatis dolores laudantium officia non quos unde hic ea
      reiciendis rem voluptatibus molestias debitis? Quo officia illum dolor
      perferendis doloremque iusto cupiditate animi id fugiat nesciunt?
      Voluptas, voluptatem provident dignissimos consectetur odit magnam dicta
      illum quibusdam placeat neque ratione vitae fugiat quod accusantium libero
      quas soluta explicabo nisi! Laudantium sapiente porro, quos officia qui
      at? Odio. Veniam illum sequi porro dicta. Ea delectus qui quod aliquam
      voluptas, pariatur voluptatibus blanditiis nisi odio unde praesentium
      maxime vero sunt est laboriosam. Saepe provident eveniet labore
      repellendus qui voluptatum? Soluta ipsam quo illum in? Laboriosam,
      accusamus eos deserunt commodi facilis distinctio officiis numquam id
      totam porro qui non ipsam cum nesciunt nemo, delectus ex, repellat
      blanditiis ab. Distinctio, explicabo! Ratione neque impedit minus tenetur
      odio iste, suscipit incidunt sit praesentium, dolore quas repudiandae
      illum vel. Beatae quasi, natus fugit quas dolorem fuga reiciendis soluta
      excepturi ab rem maxime quibusdam? Rerum ratione ab nam at totam nemo
      voluptatem provident eos qui ad facilis aperiam odio doloribus nulla,
      quidem cupiditate, autem saepe voluptatum, possimus vitae quos velit
      dignissimos quae sunt! Fugiat. Illo inventore officiis culpa tenetur
      voluptates, neque ducimus maiores corrupti sit tempore atque esse
      repudiandae ex dignissimos ut eligendi veniam ipsum aperiam cumque quae.
      Eum porro laudantium maiores quae aspernatur? In id ea quisquam dolor
      eaque. Assumenda ducimus libero excepturi eligendi. Minus, corporis? Unde
      placeat itaque, a nulla quam ducimus quas praesentium ad aliquam quod,
      deserunt repellendus libero odio quaerat. Sunt rem natus architecto
      possimus, qui et suscipit minus veniam error expedita ab, quis dolores
      doloribus, maxime corporis dolor accusamus perspiciatis nemo! Iste aliquam
      ducimus explicabo, sit praesentium eveniet perspiciatis. Commodi tempore
      neque impedit libero saepe, veritatis, magni inventore ipsam, earum sint
      delectus cupiditate recusandae. Magni laboriosam doloribus, perferendis
      iste error hic non accusantium tempora accusamus voluptatum saepe soluta
      reprehenderit!
    </p>
  </body>
</html>
