<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/08626bfbba.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/Css/nav_bar.css" />
    <link rel="stylesheet" href="/Css/view-aula.css" />
    <title>View Aula</title>
  </head>
  <body>
    <header>
      <span style="font-size: 20px">
        <a href="homepage-vist.html">. Home Visit | </a>
        <a href="list-curso.html">List Curso | </a>
        <a href="Nav_bar.html">Nav | </a>
        <a href="Nav_bar-loged menu .html">Nav Loged menu | </a>
        <a href="Nav_bar_ADM.html">Nav ADM</a>
      </span>
      <nav>
        <div class="logo-container">
          <h2 class="logo">DevGate</h2>
        </div>
        <input type="checkbox" id="check" />
        <label for="check" class="hamburger-btn">
          <i class="fas fa-bars"></i>
        </label>

        <ul class="nav-list mobile">
          <li><a href="">Home</a></li>
          <li><a href="">Html</a></li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
          <li class="login-mobile">
            <a href="register-form.html">
              <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
              Login
            </a>
          </li>
        </ul>

        <ul class="desktop-list">
          <li><a href="">Home</a></li>
          <li>
            <a href="" class="bar"></a>
            <a href="">Html</a>
          </li>
          <li><a href="">Java</a></li>
          <li><a href="">Css</a></li>
          <li><a href="">Sobre</a></li>
        </ul>

        <div class="login-btn">
          <a href="register-form.html">
            <img src="/img/user 1.svg" alt="Delineado de uma pessoa" />
          </a>
        </div>
      </nav>
    </header>

    <main>
      <section class="content">
        <div class="video-wrap">
          <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/VsiihIbylgY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <div class="text-content">
          <p class="titulo-aula">Titulo da aula</p>
          <p class="desc-aula">
            Descrição da aula Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Saepe odit, temporibus possimus iusto facilis,
            atque modi, esse asperiores expedita quasi omnis fugit sequi
            distinctio quis laboriosam similique ipsum quam architecto.
          </p>
        </div>
      </section>

      <section class="class-list">
        <section class="video-playlist">
          <h3 class="title">Html top 10</h3>
          <div class="videos">
            <a href="Dashboar.html">
              <div class="video" data-id="5">
                <img src="images/play.svg" alt="" />
                <p>01</p>
                <h3 class="title">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Eaque odio itaque vero, quia nihil, beatae ut eligendi ipsa
                  labore pariatur, fuga sapiente eveniet. Illum, deserunt culpa?
                  Non ut neque inventore.
                </h3>
                <p class="time">ID</p>
                <p class="time">ID</p>
                <p class="time"><input type="checkbox" /></p>
              </div>
            </a>
            <div class="video" data-id="5">
              <img style="display: none" src="images/" alt="" />
              <p></p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>02</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>03</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>04</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
            <div class="video" data-id="5">
              <img src="images/play.svg" alt="" />
              <p>05</p>
              <h3 class="title">TItluo</h3>
              <p class="time">ID</p>
              <p class="time">ID</p>
              <p class="time"><input type="checkbox" /></p>
            </div>
          </div>
        </section>
      </section>
      <script src="/JS/view-aulas.js"></script>
    </main>
  </body>
</html>
